.App {
  text-align: center;
  font-family: Montserrat, sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(251,251,251);
  background: linear-gradient(140deg, rgba(251,251,251,1) 14%, rgba(154,179,197,1) 62%);
}

@media screen and (max-width: 800px){
  .App {
    background:white;
    align-items: initial;
    justify-content: initial;
  }
}
